form {
  width: 250px;
  min-width: 250px;
  min-height: 50vh;
  border: 1px solid white;
  border-radius: 18px;
  background: linear-gradient(
    0deg,
    rgb(2, 0, 36) 0%,
    rgb(0, 212, 255) 0%,
    rgb(9, 9, 121) 35%
  );
  margin: auto;
  margin-top: 150px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

button {
  margin: auto;
  width: 50%;
  height: 25px;
  background-color: rgb(9, 9, 121);
  border-radius: 6px;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bold;
  outline: none;
}

.toggle-password {
  color: black;
  position: absolute;
  margin-top: 13px;
  margin-left: -25px;
  cursor: pointer;
}

.warning {
  color: red;
  font-size: 13px;
  position: absolute;
  margin-left: -249px;
  margin-top: 40px;
}
